@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	*,
	*::after,
	*::before {
		@apply p-0 m-0 box-border;
	}

	body {
		@apply text-darkBlue;
	}
}

#section__chat-box::-webkit-scrollbar,
#sidebar__chat-list::-webkit-scrollbar {
	display: none;
	width: 0.5rem;
}

#section__chat-box:hover::-webkit-scrollbar,
#sidebar__chat-list:hover::-webkit-scrollbar {
	display: block;
	width: 0.5rem;
}

#section__chat-box::-webkit-scrollbar-thumb,
#sidebar__chat-list::-webkit-scrollbar-thumb {
	background: #29ad7d7a;
	border-radius: 5px;
}

#section__chat-box::-webkit-scrollbar-thumb:hover,
#sidebar__chat-list::-webkit-scrollbar-thumb:hover {
	background: #29ad7d;
	border-radius: 5px;
}

#section__chat-box::-webkit-scrollbar-track {
	background: #2e455c13;
}

#sidebar__chat-list::-webkit-scrollbar-track {
	background: #2e455c;
}
